<div class="d-flex justify-content-center">
  <div class="card cardWidth">
    <h2 class="d-flex justify-content-center mt-3">Edit Album</h2>
    <div class="m-5">
      <%=render "form"%>
    </div>
  </div>
</div>